# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: envio-indexer

contracts:
- name: Factory
  handler: src/v2/mappings/factory.ts
  events:
  - event: PairCreated(address indexed token0, address indexed token1, address pair, uint256 )
- name: Pair
  handler: src/v2/mappings/core.ts
  events:
  - event: Burn(address indexed sender, uint256 amount0, uint256 amount1, address indexed to)
    field_selection:
      transaction_fields:
        - hash
  - event: Mint(address indexed sender, uint256 amount0, uint256 amount1)
    field_selection:
      transaction_fields:
        - hash
  - event: Swap(address indexed sender, uint256 amount0In, uint256 amount1In, uint256 amount0Out, uint256 amount1Out, address indexed to)
    field_selection:
      transaction_fields:
        - hash
  - event: Sync(uint112 reserve0, uint112 reserve1)
  - event: Transfer(address indexed from, address indexed to, uint256 value)
    field_selection:
      transaction_fields:
        - hash
networks:
- id: 5042002
  hypersync_config: 
    url: https://5042002.hypersync.xyz
  start_block: 13051475
  contracts:
  - name: Factory
    address:
    - 0xd67F63A4F26a497b364d1C82e6747Aec8B5743a5
  - name: Pair
unordered_multichain_mode: true
preload_handlers: true
